*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: Arial;
    padding: 20px;
    background: #6d290a;
  }
  .button{
    float: right;
    height: 583px;
    width: 437px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: rgb(216, 103, 50) ;
    outline:  rgb(216, 103, 50);
  }
  
  
  /* Header/Blog Title */
  .header {
    padding: auto;
    margin: auto;
    font-size: 40px;
    text-align: center;
    background: rgb(216, 103, 50);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 70%;
    padding-left: 10px;
  }
  .rightcolumn .ceotext{
    text-align: end;
    font-size: 85%;
    
  }
  
  /* image */
  .imgg {
    /* background-color: rgb(238, 223, 9); */
    width: 100%;
    padding: 20px;
  }

  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(216, 103, 50);
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(216, 103, 50);
    margin-top: 20px;
    font-size: 40px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }